{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="{% static 'djangobb_forum/css/lofi/lofiscreen.css' %}"  media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'djangobb_forum/css/lofi/lofihandheld.css' %}"  media="handheld" />
	<link rel="stylesheet" type="text/css" href="{% static 'djangobb_forum/css/lofi/lofiprint.css' %}"  media="print" />
	<title>DjangoBB LoFi version</title>
</head>

<body>
	{% include 'djangobb_forum/lofi/header.html' %}

    {% block content %}	{% endblock %}

{% include 'djangobb_forum/lofi/footer.html' %}
</body>
</html>