{% load forum_extras %}
{% load cache %}
{% load i18n %}
{% load static %}

{% if forum.last_post.topic %}
	<tr {% if forum|forum_unreads:user %}class="inew"{% endif %}>
{% else %}
	<tr>
{% endif %}
	<td class="tcl">
		<div class="intd">
            {% if forum.forum_logo %}
            <div class="icon">
               <img src="{{ forum.forum_logo.url }}" />
            </div>
            {% else %}
            <div class="icon">
				<div class="nosize"><!-- --></div>
			</div>
            {% endif %}

            <div class="tclcon">
				        <h3>{% link forum %} <a href="{% url 'djangobb:forum_forum_feed' forum.id %}"><img src="{% static 'djangobb_forum/img/feed-icon-small.png' %}"  alt="[RSS Feed]" title="[RSS Feed]" class="rss" /></a></h3>
				{{ forum.description|safe }}
				<p>
				{% cache 6000 moderators forum.id %}
					{% with forum.moderators.all as moderators %}
						{% if moderators %}
							{% include 'djangobb_forum/moderators.html' %}
						{% endif %}
					{% endwith %}
				{% endcache %}
				</p>
			</div>
		</div>
	</td>
	<td class="tc2">{{ forum.topic_count }}</td>
	<td class="tc3">{{ forum.post_count }}</td>
	<td class="tcr">
		{% if forum.updated %}
			{% if forum.last_post.topic %}
				<a href="{{ forum.last_post.get_absolute_url }}">{% forum_time forum.last_post.created %}</a>
				<span class="byuser">{% trans "by" %} {{ forum.last_post.user.username }}</span>
			{% endif %}
		{% endif %}
	</td>
</tr>
