{% include 'account/logo_header.html' %}
{% include "kernel/c-user-base.html" %}

{% load forum_extras i18n staticfiles %}

<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static "landingpage/img/favicon.ico" %}">

<!-- Bootstrap and fonts -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>

<div id="djangobbwrap">
<div id="djangobbindex" class="djangobb col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2" style="min-height: calc( 100% - 170px)">
<div id="brdheader" class="block">
	<div class="box">
		<div id="brdmenu" class="inbox" style="background: grey;">
			<ul style="font-family:'PT Mono', cursive;">
			{% block menu %}
				<li id="navindex" style="font-family:'PT Mono', cursive;"><a href="{% url 'djangobb:index' %}">{% trans "Index" %}</a></li>
				<li id="navsearch" style="font-family:'PT Mono', cursive;"><a href="{% url 'djangobb:search' %}">{% trans "Procura" %}</a></li>
				{% if user.is_superuser %}
					<li id="navadmin" style="font-family:'PT Mono', cursive;"><a href="{% url 'admin:index' %}">{% trans "Administração" %}</a></li>
				{% endif %}
				{% if user.is_authenticated %}
					<li id="navprofile" style="font-family:'PT Mono', cursive;"><a href="{% url 'kernel:info' %}">{% trans "Editar Perfil" %}</a></li>
				{% endif %}
			{% endblock %}
			</ul style="font-family:'PT Mono', cursive;">
		</div>
		<div id="brdwelcome" class="inbox">
			<ul class="conl">
				{% if user.is_authenticated %}
					<li style="font-family:'PT Mono', cursive;">{% trans "Logado como" %} <strong>{{ user.username }}</strong></li>
					<li style="font-family:'PT Mono', cursive;">{% trans "Última visita:" %} {% forum_time user.last_login %}</li>
				{% else %}
					<li style="font-family:'PT Mono', cursive;">{% trans "Não estás logado." %}</li>
				{% endif %}
				{% if user.is_superuser and reports %}
					<li class="reportlink"><strong><a href="{% url 'admin:index' %}">{% trans "There are new reports" %} ({% new_reports %})</a></strong></li>
				{% endif %}
			</ul>
			{% if user.is_authenticated %}
				<ul class="conr">
					<li style="font-family:'PT Mono', cursive;"><a href="{% url 'djangobb:search' %}?action=show_new">{% trans "Novos posts desde a última visita" %}</a></li>
					<li style="font-family:'PT Mono', cursive;"><a href="{% url 'djangobb:misc' %}?action=markread">{% trans "Marcar todos os tópicos como lidos" %}</a></li>
				</ul>
			{% endif %}
			<div class="clearer"></div>
		</div>
	</div>
</div>

{% if forum_settings.NOTICE %}
	<div id="announce" class="block">
		<h2><span>{% trans "Notice" %}</span></h2>
		<div class="box">
			<div class="inbox">
				<div>{{ forum_settings.NOTICE|safe }}</div>
			</div>
		</div>
	</div>
{% endif %}