{% extends 'djangobb_forum/base.html' %}
{% include 'account/logo_header.html' %}
{% include "kernel/c-user-base.html" %}
{% load forum_extras %}
{% load i18n %}
{% load static %}

<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{% static "landingpage/img/favicon.ico" %}">
	<title>FÓRUM.</title>
<!-- Bootstrap and fonts -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>

{% block extra_meta %}
<script type="text/javascript" src="{% static 'djangobb_forum/js/jquery.cookie.js' %}"></script>
<script type="text/javascript">

	function set_collapser(cat_id) {
		category_body_id = "category_body_" + cat_id;
		if($.cookie(category_body_id)){
			item_id = "#" + category_body_id;
			head_id = item_id.replace("body", "head");
			$(head_id).addClass("collapsed");
			$(item_id).hide()
		}
	}
	$(document).ready(function(){
		$("a.toggle").click(function(){
			header_id = $(this).parent().attr('id');
			body_id = header_id.replace("head", "body");
			item_id = '#' + body_id
			if ($(this).parent().hasClass("collapsed")){
				$(this).parent().removeClass("collapsed");
				$.cookie(body_id, '');
			} else {
				$(this).parent().addClass("collapsed");
				$.cookie(body_id, 'collapsed');
			}
			$(item_id).slideToggle("slow");
		});
	{% for iter in cats %}
		set_collapser({{ iter.id }})
	{% endfor %}
	});
</script>
{% endblock %}

{% block content %}
<div id="idx1" class="blocktable">
{% for iter in cats %}
	<h2 id="category_head_{{ iter.id }}">
		<a class="toggle" href="#">Toggle shoutbox</a>
		<span>
			{{ iter.cat }}
		</span>
	</h2>
	<div class="box" id="category_body_{{ iter.id }}">
		<div class="inbox">
			<table cellspacing="0">
				<thead>
					<tr>
						<th class="tcl" scope="col">{% trans "Forum" %}</th>
						<th class="tc2" scope="col">{% trans "Topics" %}</th>
						<th class="tc3" scope="col">{% trans "Posts" %}</th>
						<th class="tcr" scope="col">{% trans "Last post" %}</th>
					</tr>
				</thead>
				<tbody>
				{% for forum in iter.forums %}
					{% include 'djangobb_forum/forum_row.html' %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endfor %}
</div>

<div id="brdstats" class="block">
	<h2><span>{% trans "Board information" %}</span></h2>
	<div class="box">
		<div class="inbox">
			<dl class="conr">
				<dt><strong>{% trans "Board statistics" %}</strong></dt>
				<dd>{% trans "Total number of registered users:" %} <strong>{{ users }}</strong></dd>
				<dd>{% trans "Total number of topics:" %} <strong>{{ topics }}</strong></dd>
				<dd>{% trans "Total number of posts:" %} <strong>{{ posts }}</strong></dd>
			</dl>
			<dl class="conl">
				<dt><strong>{% trans "User information" %}</strong></dt>
				<dd>{% trans "Newest registered user:" %} {{ last_user|profile_link }}</dd>
				<dd>{% trans "Registered users online:" %} <strong>{{ online_count }}</strong></dd>
				<dd>{% trans "Guests online:" %} <strong>{{ guest_count }}</strong></dd>
			</dl>
            {% if online_count %}
                <dl id="onlinelist" class= "clearb">
                    <dt><strong>{% trans "Online:" %} </strong></dt>
                    {% for online in users_online %}
                        <dd>{{ online|profile_link }}</dd>
                    {% endfor %}
                </dl>
            {% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block lofi %}
{% if forum_settings.LOFI_SUPPORT %}
    <p class="lofi">
        <a href="{% url 'djangobb:lofi_index' %}">Lo-Fi Version</a>
    </p>
{% endif %}
{% endblock %}
