{% load static %}
{% static "" as baseUrl %}

<link rel="stylesheet" type="text/css" href="{% static 'djangobb_forum/js/markitup/skins/markitup/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{{ baseUrl }}djangobb_forum/js/markitup/sets/{{ markup }}/style.css" />
<script type="text/javascript" src="{% static 'djangobb_forum/js/markitup/jquery.markitup.pack.js' %}"></script>
<script type="text/javascript" src="{{ baseUrl }}djangobb_forum/js/markitup/sets/{{ markup }}/set.js"></script>
<script type="text/javascript" src="{{ baseUrl }}djangobb_forum/js/markup/{{ markup }}/board.js"></script>